Librox2/Librox2/Service References/ServiceReference2/LoginUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="US1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidUser" />
  </wsdl:message>
  <wsdl:message name="ValidUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidUserResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginUsuariosSoap">
    <wsdl:operation name="ValidUser">
      <wsdl:input message="tns:ValidUserSoapIn" />
      <wsdl:output message="tns:ValidUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginUsuariosSoap" type="tns:LoginUsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidUser">
      <soap:operation soapAction="http://tempuri.org/ValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginUsuariosSoap12" type="tns:LoginUsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidUser">
      <soap12:operation soapAction="http://tempuri.org/ValidUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginUsuarios">
    <wsdl:port name="LoginUsuariosSoap" binding="tns:LoginUsuariosSoap">
      <soap:address location="http://boxescri-001-site1.atempurl.com/WebServices/LoginUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginUsuariosSoap12" binding="tns:LoginUsuariosSoap12">
      <soap12:address location="http://boxescri-001-site1.atempurl.com/WebServices/LoginUsuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>